#clear {
  margin: 1vh
}

.board {
  width: 5vh;
  height: 5.1vh;
  outline: 2px solid black;
  font-size: 1.2vh;
  line-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-table {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(15, 5vh);
  grid-gap: 4px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid black;
}

#star {
  background-image: url('../../assets/double-star.svg');
  background-position: center;
}

#star > span {
  color: white;
}

#general {
  position: fixed;
  width: 100%;
  height: auto;
  text-align: center;
}

#alpha {
  margin-left: auto;
  margin-right: auto;
}

#alpha > tr > th {
  width: 5vh;
  height: 5vh;
  user-select: none;
}

.letter {
  width: 90%;
  height: 90%;
  background-color: wheat;
  margin: auto;
  font-size: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vh;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0 2px 4px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

.letter-number {
  position: absolute;
}

.letter-score {
  font-weight: bold;
  font-size: 1vh;
  position: relative;
  top: 1vh;
  left: 0.5vh;
}

#game-menu {
  top: 25%;
  left: 8%;
  width: 400px;
  height: 500px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  text-align: left;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#game-menu:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

#game-menu > mat-toolbar {
  border-radius: 4px 4px 0 0;
}

#game-menu > mat-progress-bar {
  height: 1px;
}

#menu-drag-indicator {
  cursor: move;
}

#toolbar-spacer {
  flex: 1 1 auto;
}

#game-board {
  margin-top: 1.3%;
}

#players-set {
  width: 20vw;
  margin-left: 1vw;
  height: min-content;
}

#player-table-container {
  align-items: flex-start;
  overflow-y: auto;
  height: 28vh;
  z-index: 1;
  margin-left: 1vw;
  margin-right: 1vw;
}

#player-table {
  width: 100%;
}

#start-game {
  position: relative;
  align-self: flex-end;
  margin: 1vw;
  z-index: 2;
}

#language-choice {
  position: absolute;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  left: 95vw;
  top: 95vh;
  transform: translate(-50%,-50%);
}

.lang-icon {
  width: 2vh;
}
