<div id="general">
  <div id=game-board>
    <table id="alpha">
      <tr>
        <th *ngFor="let letter of arrays.board[language].slice(0, 15)" [innerText]="letter"></th>
      </tr>
    </table>
    <div class="b-table">
      <div *ngFor="let id of cellRange()" [id]="id"
           (mousemove)="mode === 'waiting' || mode === 'selecting' ? cellOk($event) : null"
           (click)="mode === 'waiting' || mode === 'selecting' ? cellOk($event) : null"
           [style.backgroundColor]="getBackground(id)" class="board" appCell>
        <span class="letter-number" *ngIf="!setIncludes(id) && clickedIncludes(id)" [@slideDown]
              [@smooth]>{{labels.letter[language]}} {{getNumber(id) + 1}}</span>
        <div *ngIf="setIncludes(id)" class="letter" [@smooth] [@slideUp]>
          {{ cellsLetters[id].toString().toUpperCase() }}
          <div class="letter-score">
            {{ scoreRaw(this.language)[cellsLetters[id].toString().toUpperCase()] }}
          </div>
        </div>
      </div>
    </div>
    <div id="clear" (click)="clearClicked()">
      <button mat-stroked-button>{{labels.clear[language]}}</button>
    </div>
  </div>
  <div id="game-menu" cdkDrag cdkDragBoundary="#general">
    <mat-toolbar>
      {{labels.menu[language]}}
      <span id="toolbar-spacer"></span>
      <mat-icon cdkDragHandle id="menu-drag-indicator">drag_indicator</mat-icon>
    </mat-toolbar>
    <mat-divider *ngIf="mode === 'settings'"></mat-divider>
    <mat-progress-bar mode="indeterminate" *ngIf="mode !== 'settings'" [@smooth]></mat-progress-bar>
    <div id="players-set" *ngIf="mode === 'settings'" [@smooth]>
      <mat-form-field appearance="standard">
        <mat-label>{{this.labels.addPlayer[language]}}</mat-label>
        <input matInput [placeholder]="this.labels.playerNamePlaceholder[language]" #playerName
               (keydown.enter)="createPlayer(playerName.value); playerName.value = ''">
        <button matSuffix mat-icon-button (click)="createPlayer(playerName.value); playerName.value = ''">
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div id="player-table-container" #table>
      <table mat-table [dataSource]="players" id="player-table">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> {{labels.name[language]}} </th>
          <td mat-cell *matCellDef="let element"><span
            [style.color]="element['id'] === turn && mode !== 'settings' ? 'green' : 'black'">{{element['name']}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef> {{labels.score[language]}} </th>
          <td mat-cell *matCellDef="let element"> {{element['score']}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['name', 'score']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'score'];"></tr>
      </table>
    </div>
    <div id="start-game" *ngIf="mode === 'settings'" [@smooth] (click)="startGame()">
      <button mat-stroked-button>{{labels.done[language]}}</button>
    </div>
  </div>
</div>
<div id="language-choice">
  <mat-button-toggle-group name="Language" aria-label="Font Style">
    <mat-button-toggle (change)="language = 'english'; putLanguageCookie('english'); window.location.reload()"
                       class="lang-toggle" [checked]="language === 'english'"><img alt="English"
                                                                                   src="../../assets/english.png"
                                                                                   class="lang-icon">
    </mat-button-toggle>
    <mat-button-toggle (change)="language = 'russian'; putLanguageCookie('russian'); window.location.reload()"
                       class="lang-toggle" [checked]="language === 'russian'"><img alt="Russian"
                                                                                   src="../../assets/russian.png"
                                                                                   class="lang-icon">
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
