<div id="general">
  <div id=game-board>
    <table id="alpha">
      <tr>
        <th *ngFor="let letter of arrays.board[language].slice(0, 15)" [innerText]="letter"></th>
      </tr>
    </table>
    <div class="b-table">
      <div *ngFor="let id of cellRange()" [id]="id" (mousemove)="mode === 'waiting' || mode === 'selecting' ? cellOk($event) : null" (click)="mode === 'waiting' || mode === 'selecting' ? cellOk($event) : null" [style.backgroundColor]="getBackground(id)" class="board">
        <span class="letter-number" *ngIf="!setIncludes(id) && clickedIncludes(id)">{{labels.letter[language]}} {{getNumber(id)+1}}</span>
        <div *ngIf="setIncludes(id)" class="letter">
          {{ cellsLetters[id].toString().toUpperCase() }}
          <div class="letter_score">
            {{ scoreRaw(this.language)[cellsLetters[id].toString().toUpperCase()] }}
          </div>
        </div>
      </div>
    </div>
    <div id="clear" (click)="clearClicked()">
      <button mat-stroked-button>{{labels.clear[language]}}</button>
    </div>
  </div>
  <div id="game-menu" cdkDrag cdkDragBoundary="#general">
    <mat-toolbar>
      {{labels.menu[language]}}
      <span id="toolbar-spacer"></span>
      <mat-icon cdkDragHandle id="menu-drag-indicator">drag_indicator</mat-icon>
    </mat-toolbar>
    <mat-divider *ngIf="mode === 'settings'"></mat-divider>
    <mat-progress-bar mode="indeterminate" *ngIf="mode !== 'settings'" [@smooth]></mat-progress-bar>
    <div id="players-set" *ngIf="mode === 'settings'" [@smooth]>
      <h3>{{labels.players[language]}}</h3>
      <mat-form-field appearance="standard">
        <mat-label>{{this.labels.addPlayer[language]}}</mat-label>
        <input matInput [placeholder]="this.labels.playerNamePlaceholder[language]" #playerName (keydown.enter)="players.push(playerName.value); playerName.value = ''">
        <button matSuffix mat-icon-button (click)="players.push(playerName.value); playerName.value = ''"><mat-icon>add</mat-icon></button>
      </mat-form-field>
    </div>
    <mat-list id="player-list">
      <mat-list-item *ngFor="let player of players">{{players.indexOf(player)+1}}. {{player}}</mat-list-item>
    </mat-list>
    <div id="start-game" *ngIf="mode === 'settings'" [@smooth] (click)="startGame()">
      <button mat-stroked-button>{{labels.done[language]}}</button>
    </div>
  </div>
</div>
<div id="languageChoice">
    <mat-button-toggle-group name="Language" aria-label="Font Style">
      <mat-button-toggle (change)="language = 'english'; clearClicked()" class="lang-toggle" checked><img alt="English" src="../assets/english.png" class="lang-icon"></mat-button-toggle>
      <mat-button-toggle (change)="language = 'russian'; clearClicked()" class="lang-toggle"><img alt="Russian" src="../assets/russian.png" class="lang-icon"></mat-button-toggle>
  </mat-button-toggle-group>
</div>
