<h2>{{title}}</h2>
<table>
  <tr>
    <th *ngFor="let letter of alpha_arr" [innerText]=letter class=cell></th>
    <th class=cell id=close *ngIf=setting_word (click)="clearClicked()"><mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon></th>
  </tr>
</table>
<div class="board b-table">
  <div *ngFor="let rn of row_range" [id]=rn>
    <div *ngFor="let cn of row_range" [id]="col_range(rn, cn)" [innerText]="" class="cell board" (click)="onCellTouch($event)"></div>
  </div>
</div>
