#clear {
  margin: 1vh
}

.board {
  background-color: darkgreen;
  width: 5vh;
  height: 5vh;
  user-select: none;
  outline: 2px solid black;
}

.b-table {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(15, 5vh);
  grid-gap: 4px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid black;
}

#З8 {
  background-image: url('../assets/double-star.svg');
}

#general {
  width: 100%;
  height: auto;
  text-align: center;
}

#alpha {
  margin-left: auto;
  margin-right: auto;
}

#alpha > tr > th {
  width: 5vh;
  height: 5vh;
  user-select: none;
}
