<div id="general">
  <div id=game-board>
    <table id="alpha">
      <tr>
        <th *ngFor="let letter of boardAlphabeticalArray" [innerText]="letter"></th>
      </tr>
    </table>
    <div class="b-table">
      <div *ngFor="let id of cellRange()" [id]="id" (click)="cellOk($event)" [style.backgroundColor]="getBackground(id)" class="board">
        <span *ngIf="!setIncludes(id)"></span>
        <div *ngIf="setIncludes(id)" class="letter">{{cellsLetters[id]}}</div>
      </div>
    </div>
    <div id="clear" (click)="clearClicked()">
      <button mat-stroked-button>Очистить нажатые плитки</button>
    </div>
  </div>
  <div id="game-menu" cdkDrag cdkDragBoundary="#general">
    <p>
      <mat-toolbar>
        {{menuTitle}}
        <span id="toolbar-spacer"></span>
        <mat-icon cdkDragHandle>drag_indicator</mat-icon>
      </mat-toolbar>
      <mat-divider></mat-divider>
  </p>
  </div>
</div>
